<h2>Por País</h2>
<hr>


  <div class="row">
    <div class="col">
     <app-pais-input
      (onEnter)="buscar($event)"
      (onDebounce)="sugerencias($event)"
      placeholder="Buscar país..."
      >
    </app-pais-input>
    </div>
  </div>

<ul class="list-group" *ngIf="mostrarSugerencias">
  <li *ngFor="let pais of paisesSugeridos, let i = index"
  class="list-group-item list-group-item-action">
    <a class="nav-link"
    [routerLink]="['/pais', pais.cca2]">
    {{pais.name.official}}
  </a>
  </li>
  <li *ngFor="let pais of paisesSugeridos, let i = index"
  class="list-group-item list-group-item-action"
  (click)="buscarSugerido(termino)">
    <a class="nav-link">
    Buscar {{termino | titlecase}}
  </a>
  </li>
</ul>

  <hr>

<div *ngIf="hayError" class="alert alert-danger">
   No se encontro el termino {{termino}}
</div>


<div *ngIf="!hayError" class="row">
  <div class="col">
   <app-pais-tabla [paises]="paises" [hayError]="hayError"></app-pais-tabla>
  </div>
</div>
